/* 大屏幕（大桌面显示器，大于等于 1200px） */
@media (min-height: 1200px) { 
  html {
    font-size: 16px;
  }
}
/* 中等屏幕（桌面显示器，大于等于 992px） */
@media (max-height: 1200px) { 
  html {
    font-size: 15px;
  }
}
/* 小屏幕（平板，大于等于 768px） */
@media (max-height: 1000px) {
  html {
    font-size: 9px;
  }
}

/* 小屏幕（平板，大于等于 768px） */
@media (max-height: 800px) {
  html {
    font-size: 12px;
  }
}

/* 小屏幕（平板，大于等于 768px） */
@media (max-height: 750px) {
  html {
    font-size: 10px;
  }
}

/* 小屏幕（平板，大于等于 500px） */
@media (max-height: 500px) {
  html {
    font-size: 6px;
  }
}

/* 小屏幕（平板，大于等于 500px） */
@media (max-height: 550px) {
  html {
    font-size: 6px;
  }
  .small-item {
    width: 30vw;
  }
  .small-hide {
    display: none;
  }
}

body {
  /* background-color: #e4ecfe; */
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 5vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-size: cover;

}
.Banner-Content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 16vh;
}

.Banner-Content-Title {
  font-size: 7vh;
  font-weight: bold;
}
.Banner-Content-Title >text:nth-child(2) {
  color: #1E60E5;
}
.Banner-Small-Title {
  font-size: 10vw;
}

.Banner-Content >text {
  font-size: 1.8vh;
  color: #2C2E32;
  margin-top: 1vh;
}
.Banner-Small-Content>text {
  font-size: 3vw;
}
.Banner-App {
  width: 33vh;
  height: 48vh;
  background-image: url("https://lc-gluttony.s3.amazonaws.com/ZzwZfP9iPTCF/x4R0r5z3U9m7Wnf4HNP0tbyMmiAwxLyT/banner_app.png");
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
}
.small-app {
  width: 65vw;
}


.Header > .logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
}
.Header > .logo > img {
  margin-left: 5vw;
  height: 4vh;
}
.download {
  width: 10vh;
  height: 3.5vh;
  border-radius: 0.3vh;
  background-color: #1E60E5;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.6vh;
  font-weight: 500;
  margin-right: 5vw;
  cursor: pointer;

}
.download:hover {
  background-color: #05389f;
}

.Banner {
 /* position: absolute; */
 height: 100vh;
 width: 100vw;
 left: 0;
 top: 0;
 background-image: url("https://lc-gluttony.s3.amazonaws.com/ZzwZfP9iPTCF/kPOtxM47TFaMk0sfnRhKbVCHKScypEJD/banner_bg.png");
 background-size: cover;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 align-items: center;
 background-position: center;

}

.value-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding-top: 120px; */
  padding-top: 13vh;
  width: 80%;
}
.value-container >text {
  /* font-size: 48px; */
  font-weight: 600;
  color: #2C2E32;
}
.value-items {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  justify-content: space-between;
  /* margin-top: 80px; */
  margin-top: 9vh;

  width: 100%;
  margin-bottom: 15vh;
}

.small-values {
  /* width: 100%; */
  margin-top: 5vh;

}
.small-values:nth-of-type(2) {
  margin-top: 0px;
}
.small-values:nth-of-type(1) {
  margin-bottom: 40px;
}

.value-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* max-width: 288px; */
  max-width: 20vw;
  /* max-height: 319px; */
  max-height: 32vh;
}

.value-line {
  background-color: #EAEAEA;
  height: 1px;
  width: 100%;
}
.value-item >img {
  width: 11vh;
  height: 11vh;
}
.value-item >text:first-of-type {
  padding-top: 0.5vh;
  color: #2C2E32;
  font-weight: bold;
}
.value-item >text:last-of-type {
  padding-top: 1.6vh;
  color: #2C2E32;
}

.small-values .value-item {
  /* background-color: #72767D; */
  width: 40vw;
  max-width: 35vw;
}
.small-values .value-item>img {
  width: 17vw;
  height: 17vw;
}

.record-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 12vh;
}
.record-container >text:first-of-type {
  /* font-size: 5.3vh; */
  color: #2C2E32;
  font-weight: 600;
}

.record-container >text:nth-child(2) {
  /* font-size: 1.8vh; */
  color: #2C2E32;
  max-width: 40vh;
  margin-top: 4.1vh;
  line-height: 2.4vh;
}
.record-container >img{
  width: 70%;
  margin-top: 9.1vh;
}
.small-container >img {
  width: 90%;
  margin-bottom: 30px;
}

.data-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F6F8FC;
  padding-top: 13vh;
}
.data-container >text:first-of-type {
  /* font-size: 5.2vh; */
  color: #2C2E32;
  font-weight: 600;
}

.data-container >text:nth-child(2) {
  /* font-size: 1.6vh; */
  color: #2C2E32;
  max-width: 40vh;
  margin-top: 4.2vh;
  line-height: 2.5vh;
}
.data-container >img {
  width: 50%;
  margin-top: 5.5vh;
}
.small-container >img {
  width: 90%;
  margin-bottom: 30px;
}
.footer {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
}
.footer >img:first-child {
  margin-top: 23vh;
  width: 180px;
  margin-bottom: 18vh;
  cursor: pointer;
}

.footer >img:nth-of-type(2) {
  margin-top: 13vh;
  width: 100;
}
.footer >text:last-of-type {
  font-size: 1.4vh;
  font-weight: 600;
  color: #72767D;
}
.protocol {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 1.8vh;
  color: #45474A;
  font-weight: 600;
}
.footer .contact {
  padding-top: 1px;
  color: #72767D;
  font-size: 1.2vh;

}
.protocol >text:hover {
  color: black;
  cursor: pointer;
}
.protocol >text:nth-child(2) {
  margin-left: 10vw;
  margin-right: 10vw;
}
.footer-line {
  width: 100%;
  height: 1px;
  color: #EAEAEA;
  margin-bottom: 6vh;
}
.light-logo {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 36vh;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.h1 {
  font-size: 5.0vh;
}
.sh1 {
  font-size: 8.7vw;
}

.h2 {
  font-size: 2.5vh;
  font-weight: bold;
}
.sh2 {
  font-size: 4.3vw;
}

.h3 {
  font-size: 1.7vh;
}
.sh3 {
  font-size: 2.8vw;
}


